
.navbar-default {
    background-color: transparent;
}

.image { 
	width: 500px;
  height: 100px;
  border: 3px solid #73AD21;

}

.img-oval {
	border-radius: 70%;
	width: 400px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

.walk {
	border-radius: 60%;
	width: 300px;
	height: 250px;
	display: block;
}
